{% extends 'base.html' %}


{% block content %}

{% include 'map/map_submenu.html' %}

<div id="location">
    <div class="location_place">{{ location.raw['display_name'].split(',')[0] }}</div>
    <div>{{ location.latitude }}</div>
    <div>{{ location.longitude }}</div>
</div>

<div id="container_map">
    <div id="map"></div>
    <div id="container_location">
    {%for item in location.raw['display_name'].split(',') %}
    {{ item }}<br />
    {%endfor%}
    </div>
</div>


<script>

    var map = L.map('map').setView(['{{ location.latitude }}', '{{ location.longitude }}'], 13);
    L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}{r}.png', {
        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors using Stamen Toner map design'
    }).addTo(map);
    var circle = L.circle(['{{ location.latitude }}', '{{ location.longitude }}'], {
        color: '#8aff00',
        fillColor: '#0b6e13',
        fillOpacity: .50,
        radius: 250
    }).addTo(map);
    L.control.locate({
        position: 'topleft',
        drawCircle: true,
        follow: true,
        setView: true,
        keepCurrentZoomLevel: true,
        stopFollowingOnDrag: false,
        remainActive: true,
        markerClass: L.marker,
        circleStyle: {},
        markerStyle: {},
        followCircleStyle: {},
        followMarkerStyle: {},
        icon: 'fa fa-location-arrow',
        iconLoading: 'fa fa-spinner fa-spin',
        iconElementTag: 'span',
        circlePadding: [0, 0],
        metric: true,
        onLocationError: function(err) {
            alert(err.message);
        },
        onLocationOutsideMapBounds: function(context) {
            alert("You are outside the boundaries of the map.");
        },
        setZoom: 16,
        strings: {
            title: "Show me where I am",
            metersUnit: "meters",
            feetUnit: "feet",
            popup: "You are within {distance} {unit} from this point",
            outsideMapBoundsMsg: "You seem located outside the boundaries of the map"
        }
    }).addTo(map);

</script>


{% endblock %}