{% extends 'base.html' %}


{% block content %}

{% include 'map/map_submenu.html' %}

<div id="container">
    <div id="container_left">
        {% if locations|length != 0 %}
        {% for location in locations %}
        <a href="{{ url_for('map', loc_id=location.id) }}">{{ location.name }}</a>
        {% endfor %}
        {% endif %}
    </div>

    <div id="container_right">
        {% if selected_location and selected_location|length != 0 %}
        {% with location=selected_location, default=selected_location, display_circle=True %}
            {% include 'map/map_display.html'  %}
        {% endwith %}
        <span>{{ selected_location.name }}</span>
        <span>Type : {{ selected_location.type }}</span>
        <span class="descr">{{ selected_location.descr }}</span>
        {% else %}
        &nbsp;
        {% endif %}
    </div>

</div>


{% endblock %}