<div id="map"></div>

<script>
    var map = L.map('map', {attributionControl: false}).setView(['{{ location.latitude }}', '{{ location.longitude }}'], 16);
    L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}{r}.png', {
        attribution: 'Map data ©OpenStreetMap contributors using Stamen Toner map design'
    }).addTo(map);
    var circle = L.circle(['{{ location.latitude }}', '{{ location.longitude }}'], {
        color: '#8aff00',
        fillColor: '#0b6e13',
        fillOpacity: .50,
        radius: 50
    }).addTo(map);
    var customIcon = L.icon({
        iconUrl: '{{ url_for('static', filename='icons/'+ location.type+ '.png') }}',
        iconSize: [24, 24]
    })
    L.marker(['{{ location.latitude }}', '{{ location.longitude }}'], {icon: customIcon}).addTo(map);
    L.control.locate({
        position: 'topleft',
        drawCircle: true,
        follow: true,
        setView: true,
        keepCurrentZoomLevel: true,
        stopFollowingOnDrag: false,
        remainActive: true,
        markerClass: L.marker,
        circleStyle: {},
        markerStyle: {},
        followCircleStyle: {},
        followMarkerStyle: {},
        icon: 'fa fa-location-arrow',
        iconLoading: 'fa fa-spinner fa-spin',
        iconElementTag: 'span',
        circlePadding: [0, 0],
        metric: true,
        onLocationError: function(err) {
            alert(err.message);
        },
        onLocationOutsideMapBounds: function(context) {
            alert("You are outside the boundaries of the map.");
        },
        setZoom: 18,
        strings: {
            title: "Show me where I am",
            metersUnit: "meters",
            feetUnit: "feet",
            popup: "You are within {distance} {unit} from this point",
            outsideMapBoundsMsg: "You seem located outside the boundaries of the map"
        }
    }).addTo(map);

</script>
