<div id="map"{% if big_map %} class="big_map"{% endif %}></div>

<script>
    var map = L.map('map', {
            attributionControl: false,
            zoom: {{ zoom_level | default('18') }},
            minZoom: 5,
            maxZoom: 18
        }
    ).setView(['{{ default.latitude }}', '{{ default.longitude }}'], 16);
    L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-background/{z}/{x}/{y}{r}.png', {
        attribution: ''
    }).addTo(map);

    {% if display_circle %}
    var circle = L.circle(['{{ default.latitude }}', '{{ default.longitude }}'], {
        color: '#8aff00',
        fillColor: '#0b6e13',
        fillOpacity: .50,
        radius: 70
    }).addTo(map);
    {% endif %}

    var campIcon = L.icon({
        iconUrl: '{{ url_for('static', filename='icons/camp.png') }}',
        iconSize: [24, 24]
    })
    var cityIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='icons/city.png') }}',
            iconSize: [24, 24]
        })
    var facilityIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='icons/facility.png') }}',
            iconSize: [24, 24]
        })
    var governmentIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='icons/government.png') }}',
            iconSize: [24, 24]
        })
    var leasureIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='icons/leasure.png') }}',
            iconSize: [24, 24]
        })
    var rocketIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='icons/rocket.png') }}',
            iconSize: [24, 24]
        })
    var villageIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='icons/village.png') }}',
            iconSize: [24, 24]
        })
    var warehouseIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='icons/warehouse.png') }}',
            iconSize: [24, 24]
        })

    {% for location in locations %}
    var {{ location.type }}{{ location.id }} = L.marker(['{{ location.latitude }}', '{{ location.longitude }}'], {icon: {{ location.type }}Icon}).addTo(map);
    {{ location.type }}{{ location.id }}.bindPopup('{{ location.name }}')

    {% endfor %}


</script>
