<nav>
    <ul>
        <li><a href="{{ url_for('inv', inv_category='weapon')}}"{% if request.path.startswith('/inv/weapon') %} class="active"{% endif %}>Weapons</a></li>
        <li><a href="{{ url_for('inv', inv_category='apparel') }}"{% if request.path.startswith('/inv/apparel') %} class="active"{% endif %}>Apparel</a></li>
        <li><a href="{{ url_for('inv', inv_category='aid') }}"{% if request.path.startswith('/inv/aid') %} class="active"{% endif %}>Aid</a></li>
        <li><a href="{{ url_for('inv', inv_category='misc') }}"{% if request.path.startswith('/inv/misc') %} class="active"{% endif %}>Misc</a></li>
    </ul>

</nav>