<nav>
    <span class="side-button-left"><button id="fullscreenButton"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M20 3h2v6h-2V5h-4V3h4zM4 3h4v2H4v4H2V3h2zm16 16v-4h2v6h-6v-2h4zM4 19h4v2H2v-6h2v4z"/></svg></button></span>

    <ul>
        <li><a href="/stat"{% if request.path == '/stat' %} class="active"{% endif %}>Stat</a></li>
        <li><a href="/inv"{% if request.path == '/inv' %} class="active"{% endif %}>Inv</a></li>
        <li><a href="/data"{% if request.path == '/data' %} class="active"{% endif %}>Data</a></li>
        <li><a href="/map"{% if request.path == '/map' %} class="active"{% endif %}>Map</a></li>
        <li><a href="/radio"{% if request.path == '/radio' %} class="active"{% endif %}>Radio</a></li>
    </ul>

    <span class="side-button-right"><button id="leaveFullscreenButton"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M18 7h4v2h-6V3h2v4zM8 9H2V7h4V3h2v6zm10 8v4h-2v-6h6v2h-4zM8 15v6H6v-4H2v-2h6z"/></svg></button></span>
</nav>

<script>
    var fullscreenButton = document.getElementById("fullscreenButton");
    fullscreenButton.addEventListener("click", function() {
        document.documentElement.requestFullscreen();
    });
</script>
<script>
    var leavefullscreenButton = document.getElementById("leaveFullscreenButton");
    leavefullscreenButton.addEventListener("click", function() {
        document.exitFullscreen();
    });

    // Detect if user exits fullscreen mode
    document.addEventListener('fullscreenchange', (event) => {
      if (!document.fullscreenElement) {
        // Run any code to handle fullscreen mode being exited
      }
    });
    
</script>

